In [2]:
import pandas as pd

In [3]:
filename='C:/Users/jhjjh/Downloads/music.csv'

In [4]:
df=pd.read_csv(filename)

In [5]:
df

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         13 non-null     object
 1   singer        13 non-null     object
 2   personnel     13 non-null     int64
 3   sortation     13 non-null     object
 4   release_date  13 non-null     object
 5   agency        13 non-null     object
 6   genre         13 non-null     object
 7   type          13 non-null     object
dtypes: int64(1), object(7)
memory usage: 960.0+ bytes

In [7]:
df.head()

     title singer  personnel sortation release_date     agency genre type
0      좋은날    아이유          1        솔로   2010-12-09  카카오엔터테인먼트   발라드   EP
1  내가제일잘나가   2NE1          4        그룹   2011-06-24   YG엔터테인먼트    댄스   싱글
2    강남스타일     싸이          1        솔로   2012-07-15   YG엔터테인먼트    힙합   정규
3     첫사랑니   f(x)          5        그룹   2013-07-29   SM엔터테인먼트    댄스   정규
4      위아래   EXID          4        그룹   2014-08-27      바나나컬쳐    댄스   싱글

In [8]:
df.head(10)

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP

In [9]:
df.tail()

,title,singer,personnel,sortation,release_date,agency,genre,type
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [10]:
df.describe()

       personnel
count  13.000000
mean    5.230769
std     2.712743
min     1.000000
25%     4.000000
50%     5.000000
75%     7.000000
max    11.000000

In [11]:
df.shape

(13, 8)

In [12]:
df.index

RangeIndex(start=0, stop=13, step=1)

In [13]:
df.columns

Index(['title', 'singer', 'personnel', 'sortation', 'release_date', 'agency',
       'genre', 'type'],
      dtype='object')

In [14]:
df.sort_values('personnel',ascending=False).head()

,title,singer,personnel,sortation,release_date,agency,genre,type
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP

In [15]:
df.sort_values(['personnel','singer']).head

<bound method NDFrame.head of        title singer  personnel sortation release_date                 agency  \
2      강남스타일     싸이          1        솔로   2012-07-15               YG엔터테인먼트
0        좋은날    아이유          1        솔로   2010-12-09              카카오엔터테인먼트
1    내가제일잘나가   2NE1          4        그룹   2011-06-24               YG엔터테인먼트
4        위아래   EXID          4        그룹   2014-08-27                  바나나컬쳐
10      뚜두뚜두   블랙핑크          4        그룹   2018-06-15               YG엔터테인먼트
3       첫사랑니   f(x)          5        그룹   2013-07-29               SM엔터테인먼트
8        빨간맛   레드벨벳          5        그룹   2017-07-09               SM엔터테인먼트
11      달라달라     있지          5        그룹   2019-02-12              JYP엔터테인먼트
7     시간을달려서   여자친구          6        그룹   2016-01-25                   쏘스뮤직
6       피땀눈물  방탄소년단          7        그룹   2016-10-10                  빅히트뮤직
12  Dynamite  방탄소년단          7        그룹   2020-08-21                  빅히트뮤직
5    Ah-Choo   러블리즈          8        그룹   2015-10-01               울림엔터테인먼트
9       에너제틱    워너원         11        그룹   2017-08-07  YMC엔터테인먼트, 스톤뮤직엔터테인먼트

   genre type
2     힙합   정규
0    발라드   EP
1     댄스   싱글
4     댄스   싱글
10    댄스   EP
3     댄스   정규
8     댄스   EP
11    댄스   싱글
7     댄스   EP
6    R&B   정규
12    댄스   싱글
5     댄스   EP
9     댄스   EP  >

In [16]:
cnt=df['agency'].value_counts()

In [17]:
cnt

YG엔터테인먼트                 3
SM엔터테인먼트                 2
빅히트뮤직                    2
카카오엔터테인먼트                1
바나나컬쳐                    1
울림엔터테인먼트                 1
쏘스뮤직                     1
YMC엔터테인먼트, 스톤뮤직엔터테인먼트    1
JYP엔터테인먼트                1
Name: agency, dtype: int64

In [18]:
new_df=df[['title','singer']]

In [19]:
new_df

       title singer
0        좋은날    아이유
1    내가제일잘나가   2NE1
2      강남스타일     싸이
3       첫사랑니   f(x)
4        위아래   EXID
5    Ah-Choo   러블리즈
6       피땀눈물  방탄소년단
7     시간을달려서   여자친구
8        빨간맛   레드벨벳
9       에너제틱    워너원
10      뚜두뚜두   블랙핑크
11      달라달라     있지
12  Dynamite  방탄소년단

In [20]:
new_df.loc[5:10,['title','singer']]

      title singer
5   Ah-Choo   러블리즈
6      피땀눈물  방탄소년단
7    시간을달려서   여자친구
8       빨간맛   레드벨벳
9      에너제틱    워너원
10     뚜두뚜두   블랙핑크

In [21]:
df.loc[df['personnel']>=5]

,title,singer,personnel,sortation,release_date,agency,genre,type
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [22]:
new_df.loc[df['personnel']>=5]

       title singer
3       첫사랑니   f(x)
5    Ah-Choo   러블리즈
6       피땀눈물  방탄소년단
7     시간을달려서   여자친구
8        빨간맛   레드벨벳
9       에너제틱    워너원
11      달라달라     있지
12  Dynamite  방탄소년단

In [23]:
new_df.loc[(df['personnel']>=3) & (df['agency']=='YG엔터테인먼트')]

      title singer
1   내가제일잘나가   2NE1
10     뚜두뚜두   블랙핑크

In [24]:
new_df.loc[(df['sortation']=='솔로') | (df['type']=='정규')]

   title singer
0    좋은날    아이유
2  강남스타일     싸이
3   첫사랑니   f(x)
6   피땀눈물  방탄소년단

In [25]:
df.describe()

       personnel
count  13.000000
mean    5.230769
std     2.712743
min     1.000000
25%     4.000000
50%     5.000000
75%     7.000000
max    11.000000

In [26]:
가장 최솟값 인원

SyntaxError: invalid syntax (1295710870.py, line 1)

In [27]:
df

,title,singer,personnel,sortation,release_date,agency,genre,type
0,좋은날,아이유,1,솔로,2010-12-09,카카오엔터테인먼트,발라드,EP
1,내가제일잘나가,2NE1,4,그룹,2011-06-24,YG엔터테인먼트,댄스,싱글
2,강남스타일,싸이,1,솔로,2012-07-15,YG엔터테인먼트,힙합,정규
3,첫사랑니,f(x),5,그룹,2013-07-29,SM엔터테인먼트,댄스,정규
4,위아래,EXID,4,그룹,2014-08-27,바나나컬쳐,댄스,싱글
5,Ah-Choo,러블리즈,8,그룹,2015-10-01,울림엔터테인먼트,댄스,EP
6,피땀눈물,방탄소년단,7,그룹,2016-10-10,빅히트뮤직,R&B,정규
7,시간을달려서,여자친구,6,그룹,2016-01-25,쏘스뮤직,댄스,EP
8,빨간맛,레드벨벳,5,그룹,2017-07-09,SM엔터테인먼트,댄스,EP
9,에너제틱,워너원,11,그룹,2017-08-07,"YMC엔터테인먼트, 스톤뮤직엔터테인먼트",댄스,EP
10,뚜두뚜두,블랙핑크,4,그룹,2018-06-15,YG엔터테인먼트,댄스,EP
11,달라달라,있지,5,그룹,2019-02-12,JYP엔터테인먼트,댄스,싱글
12,Dynamite,방탄소년단,7,그룹,2020-08-21,빅히트뮤직,댄스,싱글

In [28]:
df.drop(['agency','sortation'], axis=1)

       title singer  personnel release_date genre type
0        좋은날    아이유          1   2010-12-09   발라드   EP
1    내가제일잘나가   2NE1          4   2011-06-24    댄스   싱글
2      강남스타일     싸이          1   2012-07-15    힙합   정규
3       첫사랑니   f(x)          5   2013-07-29    댄스   정규
4        위아래   EXID          4   2014-08-27    댄스   싱글
5    Ah-Choo   러블리즈          8   2015-10-01    댄스   EP
6       피땀눈물  방탄소년단          7   2016-10-10   R&B   정규
7     시간을달려서   여자친구          6   2016-01-25    댄스   EP
8        빨간맛   레드벨벳          5   2017-07-09    댄스   EP
9       에너제틱    워너원         11   2017-08-07    댄스   EP
10      뚜두뚜두   블랙핑크          4   2018-06-15    댄스   EP
11      달라달라     있지          5   2019-02-12    댄스   싱글
12  Dynamite  방탄소년단          7   2020-08-21    댄스   싱글

In [29]:
df.columns=['제목','가수','인원수','구분','발매일','기획사','장르','유형']

In [30]:
df

          제목     가수  인원수  구분         발매일                    기획사   장르  유형
0        좋은날    아이유    1  솔로  2010-12-09              카카오엔터테인먼트  발라드  EP
1    내가제일잘나가   2NE1    4  그룹  2011-06-24               YG엔터테인먼트   댄스  싱글
2      강남스타일     싸이    1  솔로  2012-07-15               YG엔터테인먼트   힙합  정규
3       첫사랑니   f(x)    5  그룹  2013-07-29               SM엔터테인먼트   댄스  정규
4        위아래   EXID    4  그룹  2014-08-27                  바나나컬쳐   댄스  싱글
5    Ah-Choo   러블리즈    8  그룹  2015-10-01               울림엔터테인먼트   댄스  EP
6       피땀눈물  방탄소년단    7  그룹  2016-10-10                  빅히트뮤직  R&B  정규
7     시간을달려서   여자친구    6  그룹  2016-01-25                   쏘스뮤직   댄스  EP
8        빨간맛   레드벨벳    5  그룹  2017-07-09               SM엔터테인먼트   댄스  EP
9       에너제틱    워너원   11  그룹  2017-08-07  YMC엔터테인먼트, 스톤뮤직엔터테인먼트   댄스  EP
10      뚜두뚜두   블랙핑크    4  그룹  2018-06-15               YG엔터테인먼트   댄스  EP
11      달라달라     있지    5  그룹  2019-02-12              JYP엔터테인먼트   댄스  싱글
12  Dynamite  방탄소년단    7  그룹  2020-08-21                  빅히트뮤직   댄스  싱글

In [31]:
df.rename(columns={'제목':'제제목', '성별':'성별'}, inplace=True)

In [32]:
df

         제제목     가수  인원수  구분         발매일                    기획사   장르  유형
0        좋은날    아이유    1  솔로  2010-12-09              카카오엔터테인먼트  발라드  EP
1    내가제일잘나가   2NE1    4  그룹  2011-06-24               YG엔터테인먼트   댄스  싱글
2      강남스타일     싸이    1  솔로  2012-07-15               YG엔터테인먼트   힙합  정규
3       첫사랑니   f(x)    5  그룹  2013-07-29               SM엔터테인먼트   댄스  정규
4        위아래   EXID    4  그룹  2014-08-27                  바나나컬쳐   댄스  싱글
5    Ah-Choo   러블리즈    8  그룹  2015-10-01               울림엔터테인먼트   댄스  EP
6       피땀눈물  방탄소년단    7  그룹  2016-10-10                  빅히트뮤직  R&B  정규
7     시간을달려서   여자친구    6  그룹  2016-01-25                   쏘스뮤직   댄스  EP
8        빨간맛   레드벨벳    5  그룹  2017-07-09               SM엔터테인먼트   댄스  EP
9       에너제틱    워너원   11  그룹  2017-08-07  YMC엔터테인먼트, 스톤뮤직엔터테인먼트   댄스  EP
10      뚜두뚜두   블랙핑크    4  그룹  2018-06-15               YG엔터테인먼트   댄스  EP
11      달라달라     있지    5  그룹  2019-02-12              JYP엔터테인먼트   댄스  싱글
12  Dynamite  방탄소년단    7  그룹  2020-08-21                  빅히트뮤직   댄스  싱글

In [33]:
newdata=df.groupby('기획사').count()
pd.DataFrame(newdata['인원수'])

                       인원수
기획사
JYP엔터테인먼트                1
SM엔터테인먼트                 2
YG엔터테인먼트                 3
YMC엔터테인먼트, 스톤뮤직엔터테인먼트    1
바나나컬쳐                    1
빅히트뮤직                    2
쏘스뮤직                     1
울림엔터테인먼트                 1
카카오엔터테인먼트                1

In [34]:
newdata=df.groupby('구분','장르').sum()
pd.DataFrame(newdata['인원수'])

ValueError: No axis named 장르 for object type DataFrame